<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('core.main') }}" class="nav-link px-2 text-secondary">Головна сторінка</a></li>
                {% if current_user.is_authenticated and current_user.user_type == 'team'%}
                <li><a href="{{ url_for('core.candidates') }}" class="nav-link px-2 text-white">Кандидати</a></li>
                {% endif %}
                {% if current_user.is_authenticated and current_user.user_type == 'candidate'%}
                <li><a href="{{ url_for('core.opportunities') }}" class="nav-link px-2 text-white">Мої можливості</a>
                </li>
                {% endif %}
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <div class="text-end">
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('core.login') }}" class="btn btn-outline-light me-2">Увійти</a>
                <a href="{{ url_for('core.registration') }}" class="btn btn-warning">Створити акаунт</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('core.logout') }}" class="btn btn-outline-light me-2">Вийти</a>
                {% if current_user.user_type == 'team' %}
                <a href="{{ url_for('core.team_profile', team_id=current_user.id) }}"
                   class="btn btn-outline-light me-2">{{ current_user.company }}</a>
                {% endif %}
                {% if current_user.user_type == 'candidate' %}
                <a href="{{ url_for('core.candidate_profile', candidate_id=current_user.id) }}"
                   class="btn btn-outline-light me-2">{{ current_user.first_name }}</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</header>
<div class="container">

    <br>
    {% block content %} {% endblock %}
    <br>
</div>
</body>
</html>