{% extends 'base.html' %}
{% block title %} {{title}}{% endblock %}
{% block content %}

<h4>Це рання версія додатку, але Ви можете зареєструватися і ознайомитись з функціоналом, або використати тестові
    акаунти:</h4>
<div class="alert alert-info">
    <h5>Тестовий корстувач:</h5>
    <p>email: test_user@example.ua</p>
    <p>password: TestUser123</p>
</div>
<br>
<div class="alert alert-info">
    <h5>Тестова команда:</h5>
    <p>email: test_team@example.ua</p>
    <p>password: TestTeam123</p>
</div>
{% endblock %}