{% extends 'base.html' %}
{% block title %} {{title}}{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{team.company}}</h1>


            <h6>місто: {{team.city.name}}</h6>
            <p>{{ team.about }}</p>

            <!-- Вміст першого контейнера -->
        </div>
        <div class="col-md-6 ">
            <img src="{% if team.profile_image %} /static/team_logo/{{team.profile_image}} {% else %} /static/temp/company.png {% endif %}"
                 height="200px" alt="none">
            <div>
                {% if team.website %}
                <br><a href="{{ team.website }}" target="_blank">Сайт компанії</a>
                {% endif %}

                {% if team.linkedin %}
                <br><a href="{{ team.linkedin }}" target="_blank">LinkedIn</a>
                {% endif %}


                {% if team.facebook %}
                <br><a href="{{ team.facebook }}" target="_blank">Facebook</a>
                {% endif %}

                {% if team.instagram %}
                <br><a href="{{ team.instagram }}" target="_blank">Instagram</a>
                {% endif %}

                {% if team.phone %}
                <br>
                <text>тел. {{ team.phone }}</text>
                {% endif %}
                {% if team.telegram %}
                <br>
                <text>Telegram: {{ team.telegram }}</text>
                {% endif %}
            </div>

            <!-- Вміст другого контейнера -->
        </div>
    </div>
</div>

{% if current_user.id == team.id and current_user.user_type == 'team'%}
<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NEW_OPP">
        Створити нову вакансію
    </button>
    <div class="modal fade" id="NEW_OPP">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Заголовок модального вікна -->
                <div class="modal-header">
                    <h4 class="modal-title">Форма кандидата</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Тіло модального вікна з формою -->
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" action="">
                        {{ opportunity_form.hidden_tag() }}
                        {% if opportunity_form.errors %}
                        {{ opportunity_form.errors }}
                        {% endif %}
                        <div class="mb-3">
                            <label for="title" class="form-label">Заголовок вакансії</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Напишіть кілька слів про вакансію</label>
                            <textarea class="form-control" id="description" name="description" rows="5"
                                      required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="salary" class="form-label">Зарплата в $</label>
                            <input type="number" class="form-control" id="salary" name="salary" min="1"
                                   max="100000"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="city">Місто в якому пропонуєте роботу:</label>
                            <select class="form-control" id="city" name="city" required>
                                <option value="" disabled selected></option>
                                {% for city_id, city_name in cities %}
                                <option value="{{ city_id }}">{{ city_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="english">Рівень володіння Англійською мовою, який Ви очікуєте від
                                Кандидата:</label>
                            <select class="form-control" id="english" name="english" required>
                                <option value="" disabled selected></option>
                                {% for english_id, english_level in english_levels %}
                                <option value="{{ english_id }}">{{ english_level }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="specialisation">Оберіть мову програмування або спеціалізацію, якою має
                                володіти
                                Кандидат:</label>
                            <select class="form-control" id="specialisation" name="specialisation" required>
                                <option value="" disabled selected></option>
                                {% for specialisation_id, specialisation_name in specialisations %}
                                <option value="{{ specialisation_id }}">{{ specialisation_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="experience">Бажаний досвід кандидата в розробці:</label>
                            <select class="form-control" id="experience" name="experience" required>
                                <option value="" disabled selected></option>
                                {% for experience_id, experience_name in experiences %}
                                <option value="{{ experience_id }}">{{ experience_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Register as Candidate">Створити вакансію
                        </button>
                    </form>
                </div>

                <!-- Нижня частина модального вікна з кнопкою закриття -->

            </div>
        </div>
    </div>
</div>
<br>
{% endif %}
{% for opportunity in  opportunities %}

<div class="alert alert-{% if opportunity.visible == False %}danger{% else %}dark{% endif %} d-flex justify-content-between"
     role="alert">
    <a href="{{ url_for('core.opportunity', opp_id=opportunity.id) }}" class="d-flex align-items-center">
        <h5 class="text-dark d-inline">{{ opportunity.title }}</h5>
        <h6 class="text-dark d-inline ml-2">({{ opportunity.city.name }}, {{ opportunity.salary }} $)</h6>
    </a>
    <p class="mb-0">{{ opportunity.creation_date.strftime('%d-%m-%Y %H:%M') }}</p>
</div>

{% endfor %}
{% endblock %}